body {
    background: url("./images/food.png");
}

header{
    background-color: #87cefa;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 8px #649AFB;
}

.rrcBtn {
    color: white;
    background-color: #87cefa;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}

.titleArea {
    background-color: #87cefa;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 8px #649AFB;
    padding: 8px;
}
.emotionBtn {
    width: 20%;
    margin-bottom: 8px;
}

.picture {
    text-shadow: 2px 2px 8px #649AFB;
    border-radius: 3px;
    margin: 8px;
    width: 100%;
    box-shadow: 0px 0px 5px #3F609D;
}

.inputField {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

#inputForm {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
  
.rrcBtn:hover {
background-color: #649AFB;
color: black;
}

.displayNone {
    display: none;
}

.suggestedInfo {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background-color: lightblue;
    margin: 5px 0px 5px 0px;
    border: 3px solid #3F609D;
    border-style: ridge;
    border-radius: 3px;
}

#recipeImg , #restaurantImg {
    width: 30%;
    margin-bottom: 8px;
    float: right;
    right: 5px;
    top: 5px;
    padding: 10px 10px 5px 8px;
}

.linkBtn:hover {
    opacity: 0.8; 
}

.rating, .diets {
    margin-top: 65px;
}
  
