body {
    background: url("./images/food.png");
}

.titleArea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: lightskyblue;
    border-style: groove;
    color: whitesmoke
}

.rrcBtn {
    color: white;
    background-color: lightskyblue;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}

/* Emoticon box -- JS */
.emotionBtn {
    width: 20%;
    margin-bottom: 8px;
}

.inputField {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

#inputForm {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
  
.rrcBtn:hover {
background-color: pink;
color: black;
}

.displayNone {
    display: none;
}
  
