body {
    background: url("./images/food.png");
}


.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

.row {
    /* background-color: white; */
}

/* .col-md-4 {
    background-color: white;

} */

/* input[type='file'] {
    background-color: lightskyblue;
} */

.col-md-8 {
    font-size: 25px;
}

input[type=text] {
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: none;

}

input[type=button] {
    background-color: lightskyblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
}

.col-md-12 {
    background-color: powderblue;
    border-style: groove;
}
